.nextButton {
  background: var(--footerBg);
  border: 0;
  border-radius: 200px;
  display: flex;
  grid-column-end: 4;
  grid-column-start: 2;
  height: 100px;
  justify-content: space-between;
  margin: auto;
  padding: 0 65px;
  transition: 0.3s;
  width: 500px;
  p {
    color: var(--textColor);
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin: auto 20px;
    text-align: center;
  }
  img {
    height: 52px;
    margin: auto 0;
    transition: 0.3s;
    width: 52px;
  }
  &:hover {
    background: var(--background);
    cursor: pointer;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    img {
      transform: rotate(180deg);
    }
  }
}
