.control {
  display: flex;

  .switcher {
    width: 60px;
    border-radius: 20px;
    height: 30px;
    cursor: pointer;
    margin: auto 0 auto auto;
    transition: 0.2s;
    position: relative;
    background: var(--swicherBG);
  }

  .switcherCircle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 15px #2020203d;
    transition: 0.2s;
    position: absolute;
    background: white url("https://i.ibb.co/7JfqXxB/sunny.png") no-repeat center;
    right: 100%;
    transform: translate(100%, -12.5%);
  }

  .switcherCircleDark {
    right: 0;
    transform: translate(0, -12.5%);
    background: white url("https://i.ibb.co/FxzBYR9/night.png") no-repeat center;
  }

  .search {
    width: 30px;
    height: 30px;
    margin: auto 20px;
    cursor: pointer;
    background: transparent;

    img {
      width: 100%;
    }
  }
}

html[data-theme="dark"] {
  .search {
    img {
      filter: invert(1);
    }
  }
}
