@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");
body {
  margin: 0;
  cursor: url("https://w7.pngwing.com/pngs/487/813/png-transparent-airplane-line-angle-point-black-and-white-mouse-cursor-miscellaneous-angle-photography.png"),
    auto !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --swicherBG: #12cdea;
  --background: #fbfbfe;
  --textColor: #000;
  --footerBg: #e5e5e5;
  --footerLink: #fff;
}
html[data-theme="white"] {
  --swicherBG: #12cdea;
  --background: #fbfbfe;
  --textColor: #000;
  --footerBg: #e5e5e5;
  --footerLink: #fff;
}
html[data-theme="dark"] {
  --swicherBG: #ccc;
  --background: #121212;
  --textColor: #dcdbdb;
  --footerBg: #252525;
  --footerLink: #000;
  filter: brightness(0.8);
}
html[data-theme="dark"] button img {
  filter: invert(1);
}

* {
  font-family: Inter, sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  color: var(--textColor);
}
body {
  background: var(--background);
  transition: background-color 0.3s;
}

.active {
  &:before {
    width: 100% !important;
  }
}

.posts {
  grid-gap: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: auto;
  margin: 0 auto;
  max-width: 1600px;
  padding: 40px 140px 65px;
  width: calc(100% - 280px);
}
@media (max-width: 1560px) {
  .posts {
    width: calc(100% - 460px);
    padding: 40px 230px 100px;
  }
}
@media (max-width: 1350px) {
  .posts {
    width: calc(100% - 160px);
    padding: 40px 80px 100px;
  }
}

@media (max-width: 965px) {
  .posts {
    width: calc(100% - 40px);
    padding: 40px 20px 70px;
    grid-gap: 20px;
  }

  .posts button {
    width: 360px;
    height: 80px;
    padding: 0 35px;
  }

  .posts button p {
    font-size: 25px;
  }

  .posts button img {
    width: 36px;
    height: 36px;
  }

  .posts button:hover {
    filter: invert(0%);
  }

  .posts button:hover img {
    transform: rotate(0);
  }
}

@media (max-width: 580px) {
  .posts button {
    width: 240px;
    height: 60px;
    padding: 0 25px;
  }

  .posts button p {
    font-size: 20px;
    margin: auto 0;
  }

  .posts button img {
    width: 30px;
    height: 30px;
  }
}

.posts h3 {
  font-size: 35px;
  margin: auto;
  color: var(--textColor);
  grid-column-start: 1;
  grid-column-end: 5;
}
