.preloader {
  position: fixed;
  left: 0;
  top: 0;
  background: var(--background);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  figure {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 2px solid var(--textColor);
    border-bottom: none;
    border-radius: 50%;
    animation: 1s rotate infinite linear;
    @keyframes rotate {
      from {
        transform: translate(-50%, -50%) rotate(0);
      }
      to {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}
