.header {
  display: flex;
  height: 132px;
  gap: 10px;
  margin: 35px auto 0;
  width: calc(100vw - 280px);

  & > a {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 132px;
      width: 132px;
    }

    &:first-child {
      margin-right: 10px;
    }
  }

  a {
    margin: 0;
    color: var(--textColor) !important;
  }
}
