.post {
  background-position: 50%;
  background-size: cover;
  border-radius: 52px;
  display: flex;
  grid-column-end: 5;
  grid-column-start: 1;
  height: 500px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
  width: 100%;

  &:nth-child(3n + 2) {
    grid-column-end: 3;
    grid-column-start: 1;
    height: 360px;
  }

  &:nth-child(3n + 3) {
    grid-column-end: 5;
    grid-column-start: 3;
    height: 360px;
  }

  &:hover {
    box-shadow: 10px 10px #ff0;
    cursor: pointer;
    transform: translate(-10px, -10px);
  }

  h2,
  p {
    color: #fff;
    text-shadow:
      3px 0 3px #000,
      0 3px 3px #000,
      -3px 0 3px #000,
      0 -3px 3px #000;
  }

  p {
    font-size: 20px;
    font-weight: 700;
    left: 30px;
    position: absolute;
    top: 20px;
  }

  h2 {
    margin: auto 40px 40px;
    max-height: 180px;
    text-overflow: ellipsis;
  }
}
