.navLink {
  height: 35px;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  &:before {
    background: var(--textColor);
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin-top: 5px;
    position: absolute;
    transition: 0.3s;
    width: 0;
  }
  &:hover:before {
    width: 100%;
  }
}
