.post {
  &_menu {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1320px;
    width: calc(100% - 280px);
    h4 {
      margin: 1.33rem 0;
    }
    div {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      gap: 20px;
      a {
        font-family: Inter, sans-serif;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
      }
    }
  }
  section {
    grid-row-gap: 40px;
    grid-column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 auto 100px;
    max-width: 1325px;
    width: calc(100% - 240px);
    h2 {
      font-size: 40px;
      grid-column-end: 6;
      grid-column-start: 1;
      margin-left: 20px;
    }
    img {
      border-radius: 20px;
      grid-column-end: 6;
      grid-column-start: 2;
      margin: 0;
      width: 100%;
      &[alt="prev"] {
        grid-column-end: 7;
        grid-column-start: 1;
      }
    }
    p {
      font-family: Roboto, sans-serif;
      font-size: 20px;
      line-height: 40px;
      border-radius: 20px;
      grid-column-end: 6;
      grid-column-start: 2;
      margin: 0;
      width: 100%;
    }
    p.big {
      font-size: 26px;
      font-weight: 600;
    }
  }
}
